body{
  background-color: #ffffff;
    font-family: 'Roboto', sans-serif;

}

.user-grid {
  /* margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; */
    margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 15rem);
  gap: 1rem; /* Adjust the gap as needed */
  justify-content: center;
  
}

.user-item {
  margin: 10px;
}

a{
    text-decoration: none;

}
.user-picture {
  width: 190px;
  height: 190px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.user-picture:hover {
  transform: scale(1.1);
}

.makeitinsideimage
{
 background: transparent;
 border-radius: 5%;
   text-decoration: none;

}

.makeitinsideimage:hover{
  background: rgb(161, 158, 158);
  
}

.center-container {
  display: flex;
  flex-direction: column;
}



/* Responsive adjustments */
@media (max-width: 768px) {
  .user-picture {
    width: 120px;
    height: 120px;
  }
  .user-grid{
    margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  }
}



@media (max-width: 480px) {
  .user-picture {
    width: 100px;
    height: 100px;
  }
   .user-grid{
    margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  }
}

.font {
  font-size: large;
  color: rgb(0, 0, 0);
  margin-bottom: 0.5rem;
  text-decoration: none;
}

.font:hover {
  /* Add hover styles if you want */
  text-decoration: underline; /* For example, underline on hover */
}
