body{
  background-color: #ffffff;
    font-family: 'Roboto', sans-serif;

}

.user-grid {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.user-item {
  margin: 10px;
}

.user-picture {
  width: 190px;
  height: 190px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.user-picture:hover {
  transform: scale(1.1);
}

.makeitinsideimage
{
 background: rgb(241, 234, 234);
 border-radius: 5%;
}

.makeitinsideimage:hover{
  background: rgb(161, 158, 158);
  
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .user-picture {
    width: 120px;
    height: 120px;
  }
}



@media (max-width: 480px) {
  .user-picture {
    width: 100px;
    height: 100px;
  }
}

.font {
  font-size: large;
  color: rgb(0, 0, 0);
  margin-bottom: 0.5rem;
  text-decoration: none;
}

.font:hover {
  /* Add hover styles if you want */
  text-decoration: underline; /* For example, underline on hover */
}
