/* EnlargedImageView.css */
.enlarged-image-view {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8); /* Semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it's on top of other elements */
  cursor: pointer;
}

.enlarged-image {
  max-width: 20%;
  max-height: 50%;
  border-radius: 10px; /* Optional: Add rounded corners */
}

@media (max-width: 600px) {
  /* Styles for screens with a maximum width of 600px (typical mobile devices) */
  .enlarged-image-view {
    background: rgba(0, 0, 0, 0.9); /* Darken the background a bit more for better visibility */
  }

  .enlarged-image {
    max-width: 60%; /* Adjust the maximum width for better fit on smaller screens */
    max-height: 30%; /* Adjust the maximum height for better fit on smaller screens */
    border-radius: 0; /* Remove rounded corners for a cleaner look */
  }
}