/* Default styles */

.image-story {
  display: flex;
  overflow-x: scroll;
  padding: 10px;
  justify-content: center; /* Center the flex items horizontally */
  overflow: hidden;
}

.story-image {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  object-fit: cover;
  border-radius: 50%;
}

/* Responsive styles */

@media screen and (max-width: 480px) {
  .image-story {
    padding: 5px;
    width:100vw;
       overflow-x: auto;

  }

  .story-image {
    width: 65px;
    height: 65px;
    margin-right: 5px;
  }
  
}
