.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: rgb(234, 229, 229);
  color: #ffffff;
}

.leftContainer {
  display: flex;
  align-items: center;
}

.logo {
  width: 40px;
  height: auto;
  margin-right: 10px;
}

.rightContainer {
  display: flex;
  align-items: center;
}

.navLink {
  color: #000000;
  text-decoration: none;
  margin: 0 10px;
}



@media (max-width: 600px) {
  /* Styles for screens with a maximum width of 600px (typical mobile devices) */
  .navbar {
    flex-direction: column;
    /* align-items: stretch; */
    text-align: center;
  }

  .leftContainer, .rightContainer {
    margin-bottom: 10px;
  }

  .logo {
    margin: 0;
  }

  .navLink {
    margin: 5px 45px;
  }
}