.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: rgb(52, 51, 51);
  color: #ffffff;
}

.leftContainer {
  display: flex;
  align-items: center;
}

.logo {
  width: 40px;
  height: auto;
  margin-right: 10px;
}

.rightContainer {
  display: flex;
  align-items: center;
}

.navLink {
  color: #ffffff;
  text-decoration: none;
  margin: 0 10px;
}